src/main/mule/shrawani.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="shrawaniFlow" doc:id="9d000ff7-2bd8-4ed3-9216-c888280091ff" >
		<http:listener doc:name="Listener" doc:id="9c5a19d3-2417-4a3d-af72-d59d2511566e" path="/def" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["hello"]' doc:name="Set Payload" doc:id="53dffa30-05e0-48b8-a1d5-dd064166884f" />
		<logger level="INFO" doc:name="Logger" doc:id="3bf7b550-c015-42ae-b9c4-9b7c7ec6519e" />
	</flow>
</mule>
