src/main/mule/system_api_update.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="system_api_updateData" doc:id="0a3f3b6a-3be8-4f2f-afbb-87ee18be1cca" >
		<set-variable value="#[payload.data.payload.ChangeEventHeader.changedFields]" doc:name="fields_array" doc:id="c8a64e2d-8922-4c31-ac27-08881873cf3f" variableName="fields_array"/>
		<set-variable value="#[payload.data.payload.ChangeEventHeader.recordIds[0]]" doc:name="Set primary_key" doc:id="43f53b27-934a-4ff9-8832-84cedaf8cb8c" variableName="primary_key"/>
		<set-variable value="#[payload.data.payload]" doc:name="ActualPayload" doc:id="f87fedbc-be0f-428c-9806-045b5abbaaa6" variableName="ActualPayload"/>
		<set-variable value="#[1 to sizeOf(vars.fields_array)]" doc:name="Number" doc:id="31600887-d0b5-4f0e-9dff-009fc99bb647" variableName="Number"/>
		<foreach doc:name="For Each" doc:id="57699d32-0241-48b6-a3b9-60620c7963ab" collection="#[vars.Number]">
			<set-variable value="#[vars.ActualPayload.ChangeEventHeader.changedFields[payload-1]]" doc:name="value" doc:id="fb20db00-a1bc-495f-9b3b-dcd63af65281" variableName="value" />
			<set-variable value='#[vars.ActualPayload."$(vars.value)"]' doc:name="ActualValue" doc:id="501da07f-56c0-4df7-98c8-d9b50c13cefc" variableName="ActualValue"/>
			<set-payload doc:name="Set Payload" doc:id="de1197e3-6f4f-453e-8946-2566c32fbae1" value="#[&quot;update product_record set &quot; ++  vars.value as String  ++ &quot;=&quot; ++ &quot;'&quot; ++ vars.ActualValue as String ++ &quot;'&quot; ++ &quot; where recordIds = &quot; ++ &quot;'&quot; ++ vars.primary_key ++ &quot;'&quot;]" />
			<db:update doc:name="Update" doc:id="398d08c4-75c2-4374-9013-abbd1f6c0be4" config-ref="Database_Config">
			<db:sql><![CDATA[#[payload]]]></db:sql>
		</db:update>
			<logger level="INFO" doc:name="Logger" doc:id="4b9b4262-92e2-4724-a241-af6db057b80c" message="Updated into the table"/>
		</foreach>
	</flow>
</mule>
